{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}


<div class="p-5">

    <body>
        <div class="row">

            <div class="col-9 mt-5">
                <h4>Andriy</h4>
            </div>
            <div class="col-3 mt-5">
                <h4>Resume project</h4>
            </div>

            <div class="col-6">
                <h5 class="mt-4">Список сторінок:</h5>

                <div class="p-1">
                    <a class="btn btn-primary" href="/bio" role="button">bio</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/car" role="button">car</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/web" role="button">web</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/facebook" role="button">facebook</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/js" role="button">js</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/mac" role="button">mac</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/person" role="button">person</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/program" role="button">program</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/summary" role="button">summary</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/skills" role="button">skills</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/education" role="button">education</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/work" role="button">work</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/task21" role="button">task21</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/task22" role="button">task22</a>
                </div>

                <div class="p-1">
                    <a class="btn btn-primary" href="/task31" role="button">task31</a>
                </div>
            </div>
            <div class="col-6 text-end mt-3">

                <h5 class="mt-2">Інтернет магазин, список товарів, характеристика товару:</h5>

                <div class="p-1">
                    <a class="btn btn-primary" href="/shophome" role="button">shophome</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopproduct" role="button">shopproduct</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopnews" role="button">shopnews</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shoporder" role="button">shoporder</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopcart" role="button">shopcart</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopprofile" role="button">shopprofile</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopreview" role="button">shopreview</a>
                </div>
                <div class="p-1">
                    <a class="btn btn-primary" href="/shopcatalog" role="button">shopcatalog</a>
                </div>


            </div>
        </div>
    </body>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}